.container {

}

#nav {
    background-color: skyblue;
    width: 21%;
    height: 512px;
    float: left;
}

#context {
    background-color: lightgoldenrodyellow;
    width: 78%;
    height: 512px;
    float: right;
}

.dairy {
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.date {
    text-align: left;
    font-weight: bold;
    font-size: 0.91em;
    margin-bottom: 0;
}
hr{
    margin-top: 2px;
    margin-bottom: 2px;
}

.sumary {
    font-size: 0.8em;
    padding-left: 8px;
    text-align: center;
    margin-bottom: 3px;
}

.text{
    font-size: 0.95em;
    text-indent:2em;
}

img {
    opacity: 0.6;
}

img:hover {
    opacity: 1.0;
}

#logo {
    text-align: center;
    font-size: 2em;
    font-family: 微软雅黑;
}

#items {
    padding-top: 15px;
    text-align: center;
    font-size: 1.04em;
    font-weight: bold;
}